<!DOCTYPE html>
<html>

    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
       
        <link href="styles.css"  rel="stylesheet">
        <meta charset="UTF-8">
        <title>2048 Game Using Vue.js</title>
    </head>

    <body>
        <div id="canvas">
            <div class="group header">
                <h1>{{name}}</h1>
                <h2>Score is <span id='scoreSpan'> {{score}}</span></h2>
            </div>
            <div class="section group rounded">
                <template v-for="(array, aIdx) in grid">
                    <template v-for="(cell, cIdx) in array">
                        <div class="col span_1_of_4" v-bind:ref="'counter_'+aIdx+'_'+ cIdx">
                            <span v-if="cell == 0"></span>
                            <span v-else>{{cell}}</span>
                        </div>
                    </template>
                </template>
            </div>
        </div>
    </body>
    
    <script src="app.js"></script>
</html>