body{
	background-color: #000000;
}
/*  SECTIONS  */
.section {
	background-color: #659DBD;
    width: 640px;
    opacity: 0.8;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	text-align: center;
	
}
.col:first-child { margin-left: 3px; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { 
	clear: both;
    padding: 12px;
    margin: 0px auto;	
 }
.group.header{
	color:#FFFFFF;
}
.span_1_of_4 {
	width: 24%;
    height: 75px;
    padding-top: 40px;
	font-size: 30px;
	margin: 2px;	
	border-radius: .25rem;
	border: 1px solid #dee2e6;
	color: #f8f9fa;
}
.bg_2_4{
	background-color: #85DCB8;
}
.bg_8{
	background-color: rgb(65, 219, 116);
}
.bg_16{
	background-color:#41B3A3;
}
.bg_32{
	background-color: #C38D9E;
}
.bg_64{
	background-color: #E27D60;
}
.bg_128{
	background-color: rgb(188, 101, 197);
}
.bg_256{
	background-color: rgb(226, 77, 36);
}
.bg_high{
	background-color: rgb(226, 96, 96);
}

